<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>month</th>
        <th>employee_name</th>
        <th>employee_id</th>
        <th>designation</th>
        <th>department</th>
        <th>mode_of_payment</th>
        <th>bank_ac_no</th>
        <th>pan</th>
        <th>pf_number</th>
        <th>present_days</th>
        <th>basic_of_pf</th>
        <th>other_basic</th>
        <th>hra</th>
        <th>incentives</th>
        <th>leave_encashment</th>
        <th>lic</th>
        <th>gross_total</th>
        <th>pf</th>
        <th>esi</th>
        <th>pt</th>
        <th>tds</th>
        <th>total_deductions</th>
        <th>net_amount</th>
        <th>amount_in_words</th>
      </tr>
    </thead>

    <tbody>
      <% @employee_salaries.each do |salary| %>
        <tr>
          <td><%= salary.month %></td>
          <td><%= salary.employee_name %></td>
          <td><%= salary.employee_id%></td>
          <td><%= salary.designation %></td>
          <td><%= salary.department %></td>
          <td><%= salary.mode_of_payment%></td>
          <td><%= salary.pan%></td>
          <td><%= salary.pf_number%></td>
          <td><%= salary.present_days%></td>
          <td><%= salary.basic_of_pf%></td>
          <td><%= salary.other_basic%></td>
          <td><%= salary.hra%></td>
          <td><%= salary.incentives%></td>
          <td><%= salary.leave_encashment%></td>
          <td><%= salary.lic%></td>
          <td><%= salary.gross_total%></td>
          <td><%= salary.pf%></td>
          <td><%= salary.esi%></td>
          <td><%= salary.pt%></td>
          <td><%= salary.tds%></td>
          <td><%= salary.total_deductions%></td>
          <td><%= salary.net_amount%></td>
          <td><%= salary.amount_in_words%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
                
                
                
                
                
  
                
                
                
                
                
                