<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Month</th>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>Designation</th>
        <th>Department</th>
        <th>Bank A/C No.</th>
        <th>Pan</th>
        <th>Present Days</th>
        <th>Gross Total</th>
        <th>Total Deductions</th>
        <th>Net Amount</th>
        <th>Download PDF</th>
        <th>Send PDF</th>
      </tr>
    </thead>

    <tbody>
      <% @employee_salaries.each do |salary| %>
        <tr>
          <td><%= salary.month %></td>
          <td><%= salary.employee_name %></td>
          <td><%= salary.employee_id%></td>
          <td><%= salary.designation %></td>
          <td><%= salary.department %></td>
          <td><%= salary.bank_ac_no%></td>          
          <td><%= salary.pan%></td>
          <td><%= salary.present_days%></td>
          <td><%= salary.gross_total%></td>
          <td><%= salary.total_deductions%></td>
          <td><%= salary.net_amount%></td> 
          <td><%= link_to 'Download PDF', download_pdf_url(salary_id: salary.id, format: "pdf") %></td>
          <td><%= link_to 'Send PDF', send_payslip_url(salary_id: salary.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="home_button">
    <%= link_to '<button type="button">Home</button>'.html_safe, root_url %>
  </div>