<!DOCTYPE html>
<html>
  <head>
    <title>Payroll</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class=<%= "#{controller_name}-#{action_name}" %>>
    <center>
      <div style="background-color: green;">
        <span class="text-center" style="color: white; font-weight: bold; background-color: green;"><%= notice %></span>
      </div>
      <div style="background-color: red;">
        <span class="text-center" style="color: white; font-weight: bold"><%= alert %></span>
      </div>
    </center>

  <body>
    <%= yield %>
  </body>
</html>
